<section>
  {%- if section.settings.image_bg != blank -%}
    <img class="about-banner-image" loading="lazy" sizes="auto" {% render 'image-attributes', image: section.settings.image_bg, sizes: 'auto' %}>
  {%- endif -%}
  <div class="container">
    <div class="page-header">       
      <div class="page-header__text-wrapper text-container">
        <div class="heading">            
            {% if section.settings.sub_heading != blank %}
                <h1 class="heading-about h2">{{ section.settings.heading}}</h1>         
            {% endif %}
            {% if section.settings.sub_heading != blank %}
                <span class="sub-heading">{{ section.settings.sub_heading | upcase }}</span>
            {% endif %}
        </div>
      </div>
        <div class="content-container">
          {% for block in section.blocks %}
              <div class="message-item">
                <div class="block-image">
                    {%- if block.settings.image != blank -%}
                      <img class="about-banner-image" loading="lazy" sizes="auto" {% render 'image-attributes', image: block.settings.image, sizes: 'auto' %}>
                    {%- endif -%}
                </div>
                <div class="block-text">
                    {%- if block.settings.sub_title != blank -%}
                        <p class="block-sub-title">{{ block.settings.sub_title }}</p>
                    {%- endif -%}
                    {%- if block.settings.title != blank -%}
                        <p class="block-title">{{ block.settings.title }}</p>
                    {%- endif -%}
                    {%- if block.settings.des != blank -%}
                        <p class="block-des">{{ block.settings.des }}</p>
                    {%- endif -%}                  
                </div>
               
              </div>
            {% endfor %}
        </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Page About Message",
  "class": "shopify-section--main-about-message",
  "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
  ],
   "blocks": [
    {
        "type": "item",
        "name": "Item",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
           {
                "type": "text",
                "id": "sub_title",
                "label": "Sub Title"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "des",
                "label": "Description"
            }
        ]
    }
  ]
}
{% endschema %}